[submodule "modules/charclass"]
	path = modules/charclass
#	url = http://suika.fam.cx/gate/git/bare/charclass.git
	url = git://github.com/wakaba/perl-charclass.git
[submodule "modules/testdataparser"]
	path = modules/testdataparser
	url = git://github.com/wakaba/testdataparser.git
[submodule "modules/perl-test-moremore"]
	path = modules/perl-test-moremore
	url = git://github.com/wakaba/perl-test-moremore
