*~
.*~
*.BAK
.*.BAK
pod2htmd.tmp
pod2htmi.tmp
.#*
data/langtag/cldr-bcp47
t/data/html5lib/
t/data/tmp/
.carton/
Makefile.setupenv
_Inline/
config/perl/submodules.txt
config/perl/libs.txt
local/
lib/Whatpm/RelExtensions.html
lib/Whatpm/Entities.html
lib/Whatpm/language-subtag-registry
lib/Whatpm/language-tag-extensions-registry
