IndexOptions +DescriptionWidth=*

AddDescription "CGI/1.1" coar-cgi-v11
AddDescription "CGI/1.2" coar-cgi-v12
AddDescription "News Article Format" ietf-usefor-article
AddDescription "Generating Message IDs" ietf-usefor-message-id ietf-usefor-msg-id-alt 
AddDescription "News Article Format & Transmission" son-of-RFC1036

AddDescription "Network Mail Headers" rfc0561
AddDescription "ARPA Network Messages" rfc0724
AddDescription "ARPA Network Text Messages" rfc0733
AddDescription "ARPA Internet Text Messages" rfc0822
AddDescription "Requirements for Internet Hosts" rfc1123
AddDescription "MIME: Internet Message Bodies" rfc1341 rfc1521 rfc2045
AddDescription "Non-ASCII Mail Headers" rfc1342
AddDescription "MIME: Non-ASCII Mail Headers" rfc1522 rfc2047
AddDescription "MIME: Media Types" rfc2046
AddDescription "MIME: Registration Procedures" rfc2048
AddDescription "MIME: Conformance" rfc2049
AddDescription "MIME: Parameter & Encoded Word extentions" rfc2184 rfc2231

