IndexOptions +DescriptionWidth=*

AddDescription "List-Id" chandhok-listid
AddDescription "CGI/1.1" coar-cgi-v11
AddDescription "CGI/1.2" coar-cgi-v12
AddDescription "Use of HTTP State Management" iesg-http-cookies
AddDescription "Mail-Followup-To header field" ietf-drums-mail-followup-to
AddDescription "Message-ID header" ietf-drums-message-id
AddDescription "HTTP" ietf-iiir-http
AddDescription "CPIM" ietf-impp-cpim
AddDescription "CPIM: Message Format" ietf-impp-cpim-msgfmt
AddDescription "CPIM: Presence Information" ietf-impp-cpim-pidf
AddDescription "Date and Time - Timestamps" ietf-impp-datetime
AddDescription "Auto-Submitted & Expires" ietf-mailext-new-fields
AddDescription "News Article Format" ietf-usefor-article
AddDescription "Generating Message IDs" ietf-usefor-message-id ietf-usefor-msg-id-alt

AddDescription "News Article Format & Transmission" son-of-RFC1036

AddDescription "Network Mail Headers" rfc0561
AddDescription "ARPA Network Messages" rfc0724
AddDescription "ARPA Network Text Messages" rfc0733
AddDescription "Interchange of USENET Messages" rfc0850
AddDescription "ARPA Internet Text Messages" rfc0822
AddDescription "X.400 & RFC 822" rfc0987 rfc1026
AddDescription "Requirements for Internet Hosts" rfc1123
AddDescription "X.400(1988) / ISO 10021 & RFC 822" rfc1138 rfc1148 rfc1327
AddDescription "MIME: Internet Message Bodies" rfc1341 rfc1521 rfc2045 ietf-822ext-messagebodies
AddDescription "Non-ASCII Mail Headers" rfc1342 ietf-822ext-msghead
AddDescription "Language Tag" rfc1766
AddDescription "Content-Disposition" rfc1806 rfc2183
AddDescription "Content-MD5 Header Field" rfc1864
AddDescription "MIME Voice Profile" rfc1911
AddDescription "HTTP/1.0" rfc1945
AddDescription "MIME: Non-ASCII Mail Headers" rfc1522 rfc2047
AddDescription "MIME: Media Types" rfc2046
AddDescription "MIME: Registration Procedures" rfc2048
AddDescription "MIME: Conformance" rfc2049
AddDescription "HTTP/1.1" rfc2068 rfc2616
AddDescription "Common Header Fields" rfc2076 palme-mailext-headers
AddDescription "MIXER: X.400 & RFC 822/MIME" rfc2156
AddDescription "X.400 & RFC-822/MIME Bodies" rfc2157
AddDescription "MIME: Parameter & Encoded Word ext." rfc2184 rfc2231
AddDescription "VPIM v2" rfc2421
AddDescription "SIP: Session Initiation Protocol" rfc2543
AddDescription "HTTP Extension Framework" rfc2774 frystyk-http-extensions
AddDescription "Internet Message Format" rfc2822 ietf-drums-msg-fmt
