AddCharset utf-8 .html .u8

AddType application/atom+xml .atom

#<Files ~ news-0-3>
#  AddCharset iso-2022-jp .html
#</Files>

Redirect 301 /www/manakai-core/doc/web/manakai-commit.en.atom.u8 https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/web/manakai-commit.en.atom https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/web/manakai-commit.en https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/web/manakai-commit https://suika.suikawiki.org/gate/git/wi/manakai.git/atom

## License: Public Domain.
