#Redirect 301 /www/manakai-core/doc/whatpm/readme.en.html https://suika.suikawiki.org/www/markup/html/whatpm/readme.en.html
#Redirect 301 /www/manakai-core/doc/whatpm/readme.en https://suika.suikawiki.org/www/markup/html/whatpm/readme.en
#Redirect 301 /www/manakai-core/doc/whatpm/readme https://suika.suikawiki.org/www/markup/html/whatpm/readme
#Redirect 301 /www/manakai-core/doc/whatpm/ https://suika.suikawiki.org/www/markup/html/whatpm/

AddCharset iso-2022-jp .jis

## License: Public Domain.
