#Redirect 301 /www/manakai-core/doc/whatpm/readme.en.html http://suika.fam.cx/www/markup/html/whatpm/readme.en.html
#Redirect 301 /www/manakai-core/doc/whatpm/readme.en http://suika.fam.cx/www/markup/html/whatpm/readme.en
#Redirect 301 /www/manakai-core/doc/whatpm/readme http://suika.fam.cx/www/markup/html/whatpm/readme
#Redirect 301 /www/manakai-core/doc/whatpm/ http://suika.fam.cx/www/markup/html/whatpm/

AddCharset iso-2022-jp .jis

## License: Public Domain.
