DefaultLanguage en
AddType application/atom+xml .atom
AddLanguage en .en
AddCharset utf-8 .u8

Redirect 301 /www/markup/html/whatpm/whatpm-commit.en.atom.u8 http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/whatpm-commit.en.atom http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/whatpm-commit.en http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/whatpm-commit http://suika.fam.cx/gate/git/wi/manakai.git/atom

Redirect 301 /www/manakai-core/doc/whatpm/ http://suika.fam.cx/www/markup/html/whatpm/readme.en.html
Redirect 301 /www/manakai-core/doc/whatpm/ http://suika.fam.cx/www/markup/html/whatpm/readme.en
Redirect 301 /www/manakai-core/doc/whatpm/ http://suika.fam.cx/www/markup/html/whatpm/

## License: Public Domain.
