#DefaultLanguage en
AddType application/atom+xml .atom
AddLanguage en .en
AddCharset utf-8 .u8

Redirect 301 /www/markup/html/whatpm/whatpm-commit.en.atom.u8 https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/whatpm-commit.en.atom https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/whatpm-commit.en https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/whatpm-commit https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/Message/ https://suika.suikawiki.org/www/manakai-core/lib/Message/

Redirect 301 /www/manakai-core/doc/whatpm/whatpm-commit.en.atom.u8 https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/whatpm/whatpm-commit.en.atom https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/whatpm/whatpm-commit.en https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/whatpm/whatpm-commit https://suika.suikawiki.org/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/whatpm/Message/ https://suika.suikawiki.org/www/manakai-core/lib/Message/
Redirect 301 /www/manakai-core/doc/whatpm/Whatpm/ https://suika.suikawiki.org/www/manakai-core/lib/Whatpm/
Redirect 301 /www/manakai-core/doc/whatpm/t/ https://suika.suikawiki.org/www/manakai-core/t/

## License: Public Domain.
