#DefaultLanguage en
AddType application/atom+xml .atom
AddLanguage en .en
AddCharset utf-8 .u8

Redirect 301 /www/markup/html/whatpm/whatpm-commit.en.atom.u8 http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/whatpm-commit.en.atom http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/whatpm-commit.en http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/whatpm-commit http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/markup/html/whatpm/Message/ http://suika.fam.cx/www/manakai-core/lib/Message/

Redirect 301 /www/manakai-core/doc/whatpm/whatpm-commit.en.atom.u8 http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/whatpm/whatpm-commit.en.atom http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/whatpm/whatpm-commit.en http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/whatpm/whatpm-commit http://suika.fam.cx/gate/git/wi/manakai.git/atom
Redirect 301 /www/manakai-core/doc/whatpm/Message/ http://suika.fam.cx/www/manakai-core/lib/Message/
Redirect 301 /www/manakai-core/doc/whatpm/Whatpm/ http://suika.fam.cx/www/manakai-core/lib/Whatpm/
Redirect 301 /www/manakai-core/doc/whatpm/t/ http://suika.fam.cx/www/manakai-core/t/

## License: Public Domain.
